*__pycache__*
*.ipynb

third_party/2d-gaussian-splatting/install

/sample_video/001

/third_party/glomap-x64-windows-cuda

demeter.egg-info

/build_dynamic

*.DS_Store

.vscode

/sample_leaf_data/Folio