*__pycache__*
*.ipynb

third_party/2d-gaussian-splatting/install

/sample_video/001

/third_party/glomap-x64-windows-cuda

demeter.egg-info

/build_dynamic

*.DS_Store

.vscode

/script_process_leaf_contour/sam2/SAM_2.egg-info
/script_process_leaf_contour/sam2/checkpoints/*.pt
/sample_leaf_data/Folio